body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
}
h1 {
  font-size: 1.2em;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: #333;
}

.word-box {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
  margin-bottom: 10px;
}
.word-box > div {
  width: 50px;
  height: 50px;
  border: 2px solid #d3d6da;
  text-align: center;
  /* background: #3a3a3c; */
  color: black;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.word-box > .green {
  background-color: #6aaa64;
  border-color: #6aaa64;
  color: white;
}
.word-box > .yellow {
  background-color: #c9b458;
  border-color: #c9b458;
  color: white;
}
.word-box > .grey {
  background-color: #787c7e;
  border-color: #787c7e;
  color: white;
}
